<form method="post" action="{{ path('app_wardrobe_item_delete', {'id': wardrobe_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input
	type="hidden" name="_token" value="{{ csrf_token('delete' ~ wardrobe_item.id) }}">
	{# <button class="flex max-w-40 flex-1 items-center justify-center rounded-md border border-transparent bg-red-600 px-8 py-3 text-base font-medium text-white hover:bg-red-700 focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 focus:outline-hidden sm:w-full">Delete</button> #}
	<button class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
</form>
